:host {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.aside {
    position: sticky;
    top: 0;
    padding: 3rem 20%;
    box-sizing: border-box;
}

.aside-content {
    max-width: 13rem;
    position: sticky;
    top: 3rem;
}

.aside-menu {
    display: grid;
    gap: 1rem;
    padding: 1rem 0px;
}
