:host {
    display: inline-block;
    color: var(--fm-theme--checked);
}

:host([checked]) .checkbox-state {
    opacity: 1;
}

::slotted([slot="icon"]),
svg {
    color: var(--fm-theme--checked-contrast, currentColor);
}

slot[name="icon"] {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    --size: calc(var(--box-min-height) * 0.75);
    width: var(--size);
    height: var(--size);
    padding: 0px;
    border-color: currentColor;
}

.checkbox-state {
    --state-size: calc(var(--size) * 0.8);
    width: var(--state-size);
    height: var(--state-size);
    margin: auto;
    border-radius: calc(var(--box-radius) * 0.75);
    background: currentColor;
    opacity: 0;
}
