:host {
    display: inline-flex;
    color: var(--theme--checked);
    --checkbox--checked-contrast: var(--theme--checked-contrast, currentColor);
    align-items: center;
    min-height: var(--token--min-height);
}

:host([checked]) .checkbox-state {
    opacity: 1;
}

::slotted([slot="icon"]),
svg {
    color: var(--checkbox--checked-contrast);
}

slot[name="icon"] {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.token-box {
    --size: calc(var(--token--min-height) * 0.75);
    width: var(--size);
    height: var(--size);
    padding: 0px;
}

.token-use-border {
    --token--border-color: currentColor;
}

.checkbox-state {
    --state-scale: 0.8;
    --state-size: calc((var(--size) * var(--state-scale)));
    --state-max-size: calc(var(--size) - (var(--token--border-width) * 2));
    width: var(--state-size);
    height: var(--state-size);
    max-width: var(--state-max-size);
    max-height: var(--state-max-size);
    margin: auto;
    border-radius: calc(var(--token--radius) * var(--state-scale));
    background: currentColor;
    opacity: 0;
}

.token-box,
.checkbox-state {
    transition: 0.3s ease all;
}
