::slotted(input) {
    width: 100%;
    height: 100%;
    padding: 0px;
    border: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}

.token-box {
    --size: calc(var(--token--min-height) * 0.75);
    width: var(--size);
    height: var(--size);
    position: relative;
    padding: 0;
}

.token-use-border {
    --token--border-color: currentColor;
}
