:host {
    display: block;
    border-radius: var(--fm-card--radius);
    box-sizing: border-box;
    background-color: var(--fm-card--bgcolor);
    box-shadow: var(--fm-card--shadow);
    position: relative;
}
.header {
    padding: 1rem 2rem 0px;
    box-sizing: border-box;
}
.content {
    padding: 0rem 2rem;
    display: grid;
    grid-gap: 1.5rem;
}
.footer {
    padding: 0rem 1rem;
    box-sizing: border-box;
}
.fill {
    padding: 1rem 2rem;
}
.actions {
    padding: 1rem 1rem 0px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0px;
    right: 0px;
}
slot[name="action"] {
    display: grid;
    grid-template-columns: var(--c);
    grid-gap: 0.5rem;
}
.space {
    padding-top: 1rem;
}
.image {
    overflow: hidden;
    border-radius: var(--fm-card--radius);
}
::slotted([slot="media"]) {
    max-width: 100%;
    display: block;
    object-fit: cover;
}
.hidden {
    display: none;
}
