.box {
    --box-border: var(--border, var(--fm-box--border));
    --box-background: var(--background, var(--fm-box--background));
    --box-color: var(--color, var(--fm-box--color));
    --box-radius: var(--radius, var(--fm-box--radius));
    --box-backdrop: var(--backdrop, var(--fm-box--backdrop));
    --box-shadow-size: var(--shadow-size, var(--fm-box--shadow-size));
    --box-shadow-color: var(--shadow-color, var(--fm-box--shadow-color));
    --box-padding-x: var(--padding-x, var(--fm-box--padding-x));
    --box-padding-y: var(--padding-x, var(--fm-box--padding-y));
    --box-min-height: var(--min-height, var(--fm-box--min-height));
    --box-border-color: var(--border-color, var(--fm-box--border-color));
    border: var(--box-border);
    background: var(--box-background);
    color: var(--box-color);
    border-radius: var(--box-radius);
    backdrop-filter: var(--box-backdrop);
    box-shadow: var(--box-shadow-size) var(--box-shadow-color);
    padding: var(--box-padding-y) var(--box-padding-x);
    box-sizing: border-box;
}
