.token-box {
    --box-scale: 1.7;
    width: calc(var(--size) * var(--box-scale));
    border-radius: 10vh;
}

.checkbox-state {
    --state-scale: 0.6;
    --box-x: calc((var(--size) * var(--box-scale) - var(--size)) / 2);
    border-radius: 10vh;
    position: relative;
    transform: translateX(calc(var(--box-x) * -1));
    opacity: 0.25;
    transform-origin: left center;
}

:host([checked]) .token-box {
    background: currentColor;
}

:host([checked]) .checkbox-state {
    opacity: 1;
    transform: translateX(var(--box-x));
    transform-origin: right center;
    background: var(--checkbox--checked-contrast);
}
