:host {
    font-size: 0.875rem;
    line-height: 1em;
}

.box {
    padding: 0;
    position: relative;
    min-height: var(--box-min-height);
}

::slotted(input) {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    font-family: unset;
    font-size: unset;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    padding: var(--box-padding-y) var(--box-padding-x);
}

.box {
    display: grid;
    align-items: center;
    grid-template-columns: 0 0 auto;
}

:host([withlabel]) .box {
    grid-template-columns: 0 auto auto;
}
:host([withicon]) .box {
    grid-template-columns: auto auto auto;
}

:host([withicon][withlabel]) .label {
    padding-left: 0.5em;
}

:host([withicon]:not([withlabel])) .box {
    grid-template-columns: auto 0 auto;
}

:host([withlabel]) .box,
:host([withicon]) .box {
    padding-left: var(--box-padding-x);
}

::slotted(input[withicon]),
::slotted(input[withlabel]) {
    padding-left: 0.5em;
}

.line {
    width: 100%;
    height: 0.125rem;
    padding: 0 var(--box-padding-x);
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    transform: translateY(100%);
}
.line-fill {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background: var(--line-background);
}

.icon {
    display: flex;
}
