:host {
    display: flex;
    flex-flow: column;
    background: var(--doc-container-bg, #fff);
}

.content {
    font-size: 1rem;
    line-height: 2em;
    padding: var(--doc-article-padding, 2rem);
    box-sizing: border-box;
}
