button {
    font-size: unset;
    font-weight: unset;
}

button:not(:disabled) {
    cursor: pointer;
}

button:disabled {
    opacity: 0.25;
}

.token-box {
    display: grid;
    grid-gap: 0.5em;
    align-items: center;
    justify-content: center;
    min-width: var(--box--min-height);
    min-height: var(--box--min-height);
}

:host([size="small"]) .token-box {
    min-height: 1.875rem;
    min-width: 1.875rem;
    padding: 0 var(--box--padding-x);
}

:host([size="small"]) {
    font-size: 0.75rem;
}

::slotted([slot="icon"]) {
    display: block;
}

.box-icon:not(.box-label) {
    padding: 0;
}

.box-icon.box-label {
    grid-template-columns: auto auto;
}
