:root {
  font-size: 1.8vh;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  background: #e0f1ee;
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

.page {
  width: 100%;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 8rem 1rem;
  box-sizing: border-box;
}

.section_content {
  max-width: 80rem;
}
