:root {
    --theme--primary: #2c3a41;
    --theme--primary-contrast: white;
    --theme--info: #0080ff;
    --theme--warning: #f9aa33;
    --theme--warning-shadow: rgb(233, 196, 11, 0.16);
    --theme--danger: rgb(255, 91, 91);
    --theme--danger-shadow: rgb(255, 91, 91, 0.2);
    --theme--success: rgb(24, 212, 124);
    --theme--success-shadow: rgba(24, 212, 124, 0.1);
    --theme--checked: var(--theme--primary);
    --theme--checked-contrast: var(--theme--primary-contrast);
}
