:host {
    --token--border-width: var(--fm-box--border-width, 1px);
    --token--border-color: var(
        --fm-box--border-color,
        rgba(255, 255, 255, 0.5)
    );
    --token--background: var(--fm-box--background, rgba(255, 255, 255, 0.5));
    --token--color: var(--fm-box--color);
    --token--radius: var(--fm-box--radius, 0.5rem);
    --token--backdrop: var(--fm-box--backdrop);
    --token--shadow-size: var(--fm-box--shadow-size, 0px 6px 22px);
    --token--shadow-color: var(--fm-box--shadow-color, rgba(0, 0, 0, 0.05));
    --token--padding-x: var(--fm-box--padding-x, 1rem);
    --token--padding-y: var(--fm-box--padding-y, 0.5rem);
    --token--min-height: var(--fm-box--min-height, 2.5rem);
}

.token-box {
    background: var(--token--background);
    color: var(--token--color);
    border-radius: var(--token--radius);
    backdrop-filter: var(--token--backdrop);
    box-shadow: var(--token--shadow-size) var(--token--shadow-color);
    padding: var(--token--padding-y) var(--token--padding-x);
    box-sizing: border-box;
}

.token-use-border {
    border: var(--token--border-width) solid var(--token--border-color);
}
