button {
    background: none;
    padding: 0;
    border: 0;
    text-align: left;
    max-width: 100%;
    display: flex;
    align-items: center;
}
slot {
    display: grid;
    grid-gap: var(--label_gap, 1rem);
    grid-template-columns: repeat(var(--cols), auto);
    align-items: center;
}
