.article {
    display: flex;
    flex-flow: column;
}

.article-header {
    min-height: 16rem;
    display: flex;
    align-items: flex-end;
    background: var(
        --doc-article-header-bg,
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Ccircle cx='.5' cy='.5' r='.5'/%3E%3C/svg%3E")
            repeat 0 0 / auto fixed
    );
    padding: var(--doc-article-padding, 2rem);
    box-sizing: border-box;
}

.article-header h1 {
    margin: 0px;
    line-height: 1em;
}

.article-content {
    font-size: 1rem;
    line-height: 2em;
    padding: var(--doc-article-padding, 2rem);
    box-sizing: border-box;
}

.article-content [slot="view"] > *:first-child {
    margin-top: 0px;
}
