.aside {
    position: sticky;
    top: 0;
    background: var(--doc-aside-bg, #f1f9f9);
    display: flex;
    padding: 3rem 20%;
    box-sizing: border-box;
}

.aside-left {
    align-items: flex-start;
    justify-content: flex-end;
}

.aside-content {
    max-width: 13rem;
    position: sticky;
    top: 3rem;
}

.aside-menu-label {
    text-transform: uppercase;
    opacity: 0.5;
}

.aside-menu {
    padding: 1rem 0px;
    box-sizing: border-box;
}

.aside-menu-link {
    display: block;
    padding: 0.5rem 0rem;
    cursor: pointer;
}
