a {
    color: unset;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1em;
    margin: 1rem 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: var(--doc-font-title);
}
h1 {
    font-size: 3.125rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.6rem;
}
h4 {
    font-size: 1.4rem;
}
h5 {
    font-size: 1rem;
}

pre {
    background: var(--doc-md-code-bg, #263946);
    color: var(--doc-md-code-color, #f1f9f9);
    max-width: 100%;
    overflow: auto;
    padding: 1rem;
    border-radius: 0.5rem;
}
