.pagination-prev {
    background: var(--doc-aside-bg, #f1f9f9);
}
.pagination-next {
    justify-content: flex-end;
}

.pagination-prev svg {
    padding-right: 1rem;
}
.pagination-next svg {
    padding-left: 1rem;
}

::slotted(a) {
    min-height: 100px;
    display: flex;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    text-decoration: none;
    color: unset;
}

::slotted([data-direction="<"]) {
    background: var(--doc-container-bg, #f1f9f9);
}

::slotted([data-direction=">"]) {
    flex-flow: row-reverse;
}
